[Desktop Entry]
Name=QalKulator
GenericName=Calculator
Comment=A fast, keyboard-first calculator with unit and currency conversion
Type=Application
Exec=qalkulator
Icon=io.github.mpengellyca.qalkulator
Terminal=false
Categories=Qt;Utility;Calculator;
Keywords=qalkulator;calculator;calculate;math;maths;convert;unit;currency;exchange;
StartupNotify=true
X-DBUS-StartupType=Unique
